extends layout

block content
  include includes/header
  section.section.text-center.bg.hero-bg.ash-gradient.dark-theme
    .container
      .form
        a(href="/"): h2.menu-logo.thin InvestIN
        form(method="POST", action="signup" class="light-theme")
          .container-fluid
            .form-header
              p.lead Sign up
              p= error
            hr
            p(style="font-weight:bold;") Basic Info
            .form-group
              input(type="text", name="username", placeholder="User name")
            .form-group
              input(type="text", name="firstname", placeholder="First name")
              .form-group
              input(type="text", name="lastname", placeholder="Last name")
            .form-group
              input(type="text", name="email", placeholder="Email address")
            .form-group
              input(type="password", name="password", placeholder="Password")
            .form-group.col-md-6
              input#gridRadios2.form-check-input(type='radio', name='userType', value='INVESTOR') 
              |  Investor
            .form-group.col-md-6
              input#gridRadios2.form-check-input(type='radio', name='userType', value='BUSINESS OWNER') 
              |  Business Owner
            .form-group
              textarea(name="description", placeholder="Describe yourself", rows = 6, cols = 10)
            hr

            p(style="font-weight:bold;") Payment Info
            .row
              .form-group.col-xs-12.col-md-9
                  input(type="text", placeholder="Credit Card")
              .form-group.col-xs-12.col-md-3
                  input(type="text", placeholder=" CVC")
            .row
              .form-group.col-xs-12.col-md-4
                input(type="text", placeholder=" YYYY")
              .form-group.col-xs-12.col-md-4
                input(type="text", placeholder=" MM")
              .form-group.col-xs-12.col-md-4
                input(type="text", placeholder=" DD")
              
            br
            .form-group
              input(type="submit", value="submit", name="submit", class="button button-default button-pill button-dark btn-block")

      // LOGIN
      p Already have an account? &nbsp;&nbsp;
        a(href="/login", class="button button-default button-pill button-light-o") Log in

