
style.
	p{
		font-size: 20px;
		color: #464646;
		}
	.container{
		height:100vh;
	}

extends layout
block content
	include includes/header2
	section.section.text-center.bg.hero-bg
		.container.text-center
			div.col-sm-10.col-sm-offset-1
				br
				br
				br
				h1 Account Creation Successful!
				p Thank you for registering with InvestIN, our team is working on verifying your background. You will receive an email notification in 3-5 business days.
				
			
				

	


